@import "@fontsource/inter";        
@import "@fontsource/montserrat";    
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

h1 {
  @apply text-4xl font-semibold dark:text-white font-[Montserrat]
}

h2, h3, h4, h5, h6 {
  @apply font-[Montserrat]
}

a, p {
  @apply font-[Inter]
}

p {
  @apply dark:text-[#B0B0B0]
}

.spacing-sections {
  @apply mx-auto w-full sm:max-w-4/6 md:max-w-full lg:max-w-full xl:max-w-full 2xl:max-w-8/10
}

.primary-button {
  @apply dark:border-white border dark:text-white px-2 py-2 rounded-md cursor-pointer hover:bg-gray-200 dark:hover:bg-gray-700 transition-all
}

@layer utilities {
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  .animate-fadeIn {
    animation: fadeIn 1s ease-out forwards;
  }
}