---
import About from '../components/About.astro';
import Experiencie from '../components/Experience.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import LayoutGuid from '../components/LayoutGuid.astro';
import Projects from '../components/Projects.astro';
import Main from '../Main.astro';
import "../styles/global.css";
---

<Main>
	<!-- <LayoutGuid /> -->
	<Header />
	<main class="lg:w-10/12 mx-auto">
		<Hero />
		<Experiencie />
		<About />
		<Projects />
	</main>
	<Footer />
</Main>
