---
import About from "../components/About.astro";
import Experiencie from "../components/Experience.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import LayoutGuid from "../components/LayoutGuid.astro";
import Projects from "../components/Projects.astro";
import Main from "../Main.astro";
import "../styles/global.css";
---

<Main class="h-full">
	<!-- <LayoutGuid /> -->
	<Header />
	<main class="lg:w-10/12 mx-auto px-5 sm:px-0">
		<Hero />
		<div class="h-16"></div>
		<Experiencie />
		<div class="h-16"></div>
		<About />
		<div class="h-16"></div>
		<Projects />
	</main>
	<Footer />
</Main>
