---
import Header from '../components/Header.astro';
import LayoutGuid from '../components/LayoutGuid.astro';
import Main from '../Main.astro';
import "../styles/global.css";
---

<Main>
	<LayoutGuid />
	<Header />
</Main>
