---
import { Icon } from "astro-icon/components";

const { text = "", icon = "", link = "" } = Astro.props;
---

<a href={link} target="_blank" rel="noopener noreferrer">
  <button
    class="flex gap-2 items-center primary-button"
  >
    <Icon name={icon} class="text-2xl" />
    {text}
  </button>
</a>
