---
import ButtonIcon from "./ButtonIcon.astro";
---

<footer class="w-full mt-32 py-8 border-t-1">
  <div class="flex items-center justify-between md:w-10/12 mx-auto">
    <div>
      <h2 class="text-4xl dark:text-white">Yahir Diaz</h2>
      <p>Desarrollador web Full Stack</p>
    </div>
    <ButtonIcon
      icon="material-symbols--attach-email-outline"
      text="Contáctame por correo"
    />
  </div>
</footer>
