---
import Image from "astro/components/Image.astro";
import yo from "../assets/yo.png";
import ButtonIcon from "./ButtonIcon.astro";
---

<section class="mb-36 spacing-sections" id="Inicio">
  <div class="flex flex-wrap justify-between items-center gap-4 mt-16">
    <div class="w-full md:max-w-1/2">
      <h1>Saludos, soy Yahir D칤az</h1>
      <h2 class="text-2xl color-white">Desarrollador Web Full Stack</h2>
      <p class="mt-4">
        游 +1 a침o de experiencia en soporte y desarrollo de un sistema web ERP,
        bajo la metodolog칤a de SCRUM.
        <span class="text-[#FF7E7E]"
          >He creado APIs , m칩dulos responsive y m칩dulo de reservas por fechas</span
        >, usando tecnolog칤as como Vue, C#, SQL Server y Bootstrap.
      </p>
      <div class="flex justify-center md:justify-start flex-wrap gap-4 mt-4 w-full">
        <ButtonIcon
          icon="material-symbols--attach-email-outline"
          text="Cont치ctame por correo"
        />
        <ButtonIcon icon="mdi--linkedin" text="Hablame por Linkedin" />
      </div>
    </div>
    <Image src={yo} alt="Foto de perfil" class="rounded-lg max-w-3xs mx-auto" />
  </div>
</section>
