<section class="absolute left-0 h-full flex w-full flex gap-6 px-5 sm:px-10 md:px-20 lg:px-40 xl:px-60 z-99">
  <div class="h-full w-full bg-red-600/25"></div>
  <div class="h-full w-full bg-red-600/25"></div>
  <div class="h-full w-full bg-red-600/25"></div>
  <div class="h-full w-full bg-red-600/25"></div>
  <div class="h-full w-full bg-red-600/25 hidden sm:block"></div>
  <div class="h-full w-full bg-red-600/25 hidden sm:block"></div>
  <div class="h-full w-full bg-red-600/25 hidden md:block"></div>
  <div class="h-full w-full bg-red-600/25 hidden md:block"></div>
  <div class="h-full w-full bg-red-600/25 hidden lg:block"></div>
  <div class="h-full w-full bg-red-600/25 hidden lg:block"></div>
  <div class="h-full w-full bg-red-600/25 hidden xl:block"></div>
  <div class="h-full w-full bg-red-600/25 hidden xl:block"></div>
</section>