<!doctype html>
<html lang="es" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta
			name="description"
			content="Desarrollador web que crea sitios modernos, rápidos y adaptables para negocios y proyectos personales."
		/>
		<meta
			name="keywords"
			content="Yahir Diaz, Programador Web, Creador de páginas web"
		/>
		<meta name="robots" content="index, follow" />
		<meta name="author" content="Yahir Diaz" />
		<link rel="icon" type="image/svg+xml" href="ion--code-slash-outline.svg" />
		<title>Portafolio Web</title>
	</head>
	<body
		class="dark bg-gradient-to-br from-white to-[#f0f0f0] dark:bg-none dark:bg-[#0F151B] dark:text-[#B0B0B0]
		 px-5 sm:px-10 md:px-20 lg:px-30 xl:px-60"
	>
		<slot />
	</body>
</html> //cambair lso id, cambiar el color del texto rojo y el header, animaciones, hacer el responsive los demas proyectos.